{% if request.user.is_authenticated %}

    <p>Hello {{ request.user.username }}</p>

    <a href="{% url 'accounts:logout' %}">Logout</a>
    
{% else %}

    <a href="{% url 'accounts:login' %}">Login</a>

{% endif %}

<h1>Todo App</h1>

<a href="{% url 'tasks:create' %}">Create Task</a>

<ul>
    {% for task in tasks %}
        <li>
            <a href="{% url 'tasks:detail' task.id %}">
                {{ task.title }}
            </a>
        </li>
            <a href="{% url 'tasks:update' task.id %}">Edit</a>
            <a href="{% url 'tasks:delete' task.id %}">Delete</a>
        <br></br>
    {% endfor %}
</ul>